/* Style the body of the website in a basic way for now*/
body{
    /*background-image: url(https://live.staticflickr.com/6088/6055432379_31f4bc3080.jpg);*/
    background-color: rgb(104, 57, 4);
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: 1.8em;
}

/*Styling of the input bars*/
input[type = text]{
    padding:4px 12px;
    margin: 4px 0;
    box-sizing: border-box;
}

/*Outer padding for the table*/
table, td {
    border: 1px solid black;
}

/*Centering the styleing the input bar views*/
.row {
    white-space: nowrap;
}
  
.row > div {
    width: 300px;
    display: inline-block;
}

/* align the header of the main page to be centered*/
h1{
    text-align: center;
}

/*Style the play button in such a way that it is centered and elongated*/
#play_button{
    width: 200px;
    margin: 0 auto;
    display: block;
}


/*Background for the table*/
#game_winner{
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

/* Style the tabs */
 .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabs {
    display: none;
    padding: 6px 12px;
    width: 100%;
  }